@media only screen and (min-width: 992px) {
  .header {
    background-color: rgba(209, 209, 209, 0);
    color: rgb(255, 255, 255);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
  }
  #image {
    width: 400px;
    height: 350px;
    margin-left: 100px;
  }
  #slider {
    color: white;
  }
  .button {
    background-color: rgb(246, 187, 0) !important;
    font-family: Rajdhani-Medium !important;
    color: black;
    margin-right: 5px !important;
    font-size: medium !important;
  }

  .white {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: rgb(54, 54, 54);
    width: 100%;
  }

  p {
    color: rgb(187, 187, 187);
    font-size: medium;
    box-sizing: border-box;
  }

  #text {
    padding: 0px 50px;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

@media only screen and (max-width: 992px) {
  .header {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
    height: 100%;
  }
  #image {
    display: none;
  }
  #slider {
    color: white;
  }
  .button {
    background-color: rgb(246, 187, 0) !important;
    color: black;
    margin-right: 5px !important;
    font-size: small !important;
  }

  .white {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgb(54, 54, 54);
    width: 100%;
    box-sizing: border-box;
    padding: 2% 2% 6% 2%;
    height: 100%;
    z-index: 600;
  }

  p {
    color: rgb(150, 150, 150);
    font-size: 75%;
    box-sizing: border-box;
    /* margin: 10px 0px 20px 8px; */
  }

  #text {
    padding: 0px 10px;
  }
  a {
    color: black;
    text-decoration: none;
  }
}
