#one {
  background-image: url("https://wallpapercave.com/wp/wTacujH.jpg");
  background-size: cover;
}
#two {
  background-image: url("https://images.unsplash.com/photo-1511497584788-876760111969?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
  background-size: cover;
}

#three {
  background-image: url("https://images.unsplash.com/photo-1551632134-c129c233d754?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1376&q=80");
  background-size: cover;
}

#four {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/246/411/711/thunder-lightning-sky-atmosphere-wallpaper-preview.jpg");
  background-size: cover;
}

#five {
  background-image: url("https://images.unsplash.com/photo-1524856781660-e5c92f4ac62a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}

#six {
  background-image: url("https://images.unsplash.com/photo-1592408465270-9e669f6761f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80");
  background-size: cover;
}

#seven {
  background-image: url("https://images.unsplash.com/photo-1556805446-e10a44a861b7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
}
#eight {
  background-image: url("https://images.unsplash.com/photo-1561916808-038bc36cf773?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80");
  background-size: cover;
}

@media only screen and (min-width: 992px) {
  .root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .paper {
    padding: 0px;
    height: 300px;
    font-size: 15px;
    border-radius: 0px !important;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: monospace;
  }

  .paper h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    box-sizing: border-box;
    padding: 20px 50px;
    width: fit-content;
    border-radius: 10px;
    transition: 0.5s;
  }
  .player {
    width: 90%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  .volume {
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .slider {
    padding: 0px;
    margin: 0px;
    color: white;
  }
  .player-buttons {
    color: white;
    transition: 0.9s;
    padding: 0px;
    margin: 0px;
  }

  .pause-button {
    opacity: 0;
  }

  .audio {
    width: 100%;
    background-color: transparent;
    height: 30px;
    border-radius: 25px;
  }
}

@media only screen and (max-width: 992px) {
  .root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0px;
  }

  .paper {
    padding: 10px;
    height: 300px;
    font-size: 15px;
    border-radius: 0px !important;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    cursor: pointer;
  }

  .paper h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    box-sizing: border-box;
    padding: 20px 50px;
    width: fit-content;
    border-radius: 10px;
    transition: 0.5s;
  }

  .audio {
    width: 90%;
    background-color: transparent;

    border-radius: 25px;
  }

  .player {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  .volume {
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .slider {
    color: white;
  }
  .player-buttons {
    color: white;
    transition: 0.9s;
  }

  .pause-button {
    opacity: 0;
  }

  .player-buttons:hover {
    transform: scale(1.09);
  }

  .audio {
    width: 100%;
    background-color: transparent;
    height: 30px;
    border-radius: 25px;
  }
}
