@media only screen and (min-width: 992px) {
  .App {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px;
    font-family: Rajdhani-Medium;
    -webkit-box-shadow: 0px 0px 14px -2px #000000;
    box-shadow: 0px 0px 14px -2px #000000;
  }
}

@media only screen and (max-width: 992px) {
  .App {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 0px;
    overflow: hidden;
    margin: 0px;
  }
}
