body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right top,
    #b9b9b9,
    #979797,
    #777777,
    #585858,
    #3b3b3b
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiSlider-root {
  color: white !important;
}
.MuiIconButton-root {
  color: white !important;
}
.MuiSlider-thumb:hover {
  cursor: pointer;
  transform: scale(1.09);
}
